<header class="page-wrapper">
    <div class="about-head">
        <div class="img-wrapper">
            {% if site.logo %}
                <img src="{{ site.data.authors.prasangadhungel.picture | relative_url }}" class="about-img animated fadeInDown" alt="{{ site.title }}">
            {% endif %}
        </div>
        <div class="bio-wrapper">
            <h1 class="about-name">{{ site.title }}</h1>
            <p class="about-description" itemprop="description">{{ site.description }}</p>
            <p class="about-description resume-btn"><a href="{{ site.resume | relative_url }}" target="blank"><i class="fas fa-arrow-circle-down"></i> Get Resume</a></p>
        </div>
        <br style="clear:both;"/>
    </div>
</header><!-- /.masthead -->