<!-- start custom head snippets -->
<link rel="stylesheet" href="{{ 'assets/css/abouthead.css' | relative_url }}">
<link rel="stylesheet" href="{{ 'assets/css/contactcard.css' | relative_url }}">
<link rel="stylesheet" href="{{ 'assets/css/categories.css' | relative_url }}">
<link rel="stylesheet" href="{{ 'assets/css/navigation.css' | relative_url }}">
<link rel="stylesheet" href="{{ 'assets/css/figure.css' | relative_url }}">
<link rel="stylesheet" href="{{ 'assets/css/trivia.css' | relative_url }}">
<!-- insert favicons. use http://realfavicongenerator.net/ -->

<!-- end custom head snippets -->
