<div id="popoverOpener">
    <button type="button">{{ include.identifier }}</button>
</div>
  
<div id="popoverWrapper">
    <div class="popover" role="tooltip">
        <div class="arrow"></div>
        <h3 class="popover-title">Popover title</h3>
        <div class="popover-content">
            {{ include.content }}
        <div>
            <a href="#" class="top">Top</a>
            <a href="#" class="right">Right</a>
            <a href="#" class="bottom">Bottom</a>
            <a href="#" class="left">Left</a>
        </div>
        <p>This is the Bootstrap example btw.</p>
        </div>
    </div>
</div>