.card {
    border: 1px solid;
    border-color: rgb(251,251,251);
    padding: 2em;
}

.contact-item {
    width: 100%;
}

.contact-name {
    display: inline-block;
    padding-left: 1.5em;
    vertical-align: middle;
    font-size: 20px;
}

@media screen and (min-width: 640px) {
    .contact-item {
        width: 50%;
        float: left;
    }

    .contact-name {
        display: inline-block;
        padding-left: 1em;
        vertical-align: middle;
        font-size: 24px;
    }
}

.contact-name a {
    text-decoration: none;
    color: rgb(251,251,251);
}