figure figcaption {
    text-align: center;
    font-size: 0.8em;
    font-style: italic;
    line-height: 1.2;
}

figure figcaption.class {
    text-align: center;
    font-size: 0.5em;
    font-style: italic;
    line-height: 1.2;
}